<!-- Sticky header -->
<!-- <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <div class="navbar-name">
      <h1>Thats what she said</h1>
    </div>
    <a class="navbar-user" href="#">
      Vadim Klishevich
    </a>
  </div>
</nav> -->

<nav ngbNav #nav="ngbNav" class="nav-tabs sticky-top">

  <ng-container ngbNavItem>
    <a ngbNavLink routerLink=""><img src="../favicon.ico" width=100></a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/homework">Homework</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/groups">Group</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/login">{{user.username}}</a>
    <a ngbNavLink routerLink="/login">Icon2</a>
  </ng-container>

</nav>

<div class="">
  <h1>{{user.group}} {{title}}</h1>
  <hr>
</div>

<router-outlet></router-outlet>
