<!-- 4 columns -->
<div class="container-fluid padding">
  <div class="row text-center padding">

      <div class="col-sm-6 col-md-3" *ngFor="let column of subjects">
        <ul class="list-group">
          <li *ngFor="let subject of column" class="subject list-group-item">
            <a href="subjects?id={{subject.id}}">
              <div class="name">
                  {{subject.name}}
              </div>
            </a>
          </li>
        </ul>
      </div>

  </div>
  <hr class="my-4">
</div>
