<!-- 4 columns -->
<div class="container-fluid padding">
  <div class="row text-center padding">

    <div class="col-sm-6 col-md-3" *ngFor="let column of homework">
      <h2>{{column.title}}</h2>
      <hr>
      <ul class="list-group">
        <li *ngFor="let homework of column.data" class="homework list-group-item">
          <a [href]="homework.url">
            <div class="name">
              {{homework.name}}
            </div>
            <div class="deadline">
              {{homework.deadline}}
            </div>
          </a>
          <button type="button" class="btn btn-success">
            <a class="subject" href="subjects?id={{homework.subject}}">
              {{homework.subject}}
            </a>
          </button>
        </li>
      </ul>
    </div>

  </div>
  <hr class="my-4">
</div>
